<table>
  <!--/*@thymesVar id="preferredListDto" type="com.crud.finalbackend.domain.dto.PreferredListDto"*/-->
  <spam th:text="${preferredListDto.getPreferredDtoList()}"/>
  <tr th:each="preference : ${preferredListDto.getPreferredDtoList()}">
    <!--/*@thymesVar id="preference" type="com.crud.finalbackend.domain.dto.PreferredDto"*/-->
    <td><span title="id" th:text="${preference.getId()}"/></td>
    <td><span title="trailBegin" th:text="${preference.getTrailBegin()}"/></td>
    <td><span title="trailEnd" th:text="${preference.getTrailEnd()}"/></td>
    <td><span title="distance" th:text="${preference.getDistance()}"/></td>
    <td><span title="minTemperature" th:text="${preference.getMinTemperature()}"/></td>
    <td><span title="userId" th:text="${preference.getUserId()}"/></td>
  </tr>
</table>